# macOS

## General
.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r; might conflict with case insensitive volumes
Icon\r\r

## Thumbnails
._*

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Windows

## Thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

## Dump file
*.stackdump

## Folder config file
[Dd]esktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

## Shortcuts
*.lnk


# Eclipse
.settings
.buildpath
.project


# JetBrains
*/.idea
*/.project
*/.buildpath
.idea/*
